@media (max-width:680px) {
     .mobile-menu {
        display: block;
        
    }

    
    /* .nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
    header 
    {
        margin: 0;
    }
    #check {
        /* position: absolute; */
    }
    nav ul li {
        display: none;
    }
    .btn {
        display: none;
    }
    


}
    
